<!-- <div class="scroll" id="scroll"> -->
<!--    <a href="#" title="<%= __('返回顶部') %>"><i class="fa fa-arrow-up"></i></a> -->
<!--    <a href="#comments" title="<%= __('查看评论') %>"><i class="fa fa-comments-o"></i></a> -->
<!--    <a href="#footer" title="<%= __('滚动至底部') %>"><i class="fa fa-arrow-down"></i></a> -->
<!-- </div> -->
